<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div><div><u></u>
        <div style="background:#f1f1f1">

            <div style="height:50px"></div>
            <div style="max-width:60%;width:700px;margin:0 auto;background:#42A5F5;color:#ffffff;font-family:'Verdana','Arial';font-size:17px;line-height:1.0em;text-align:center;border:1px solid #2776ec;border-bottom:0 #d3d3d3;padding:0 50px 20px">
            </div>

            <div style="text-align: center; max-width:60%;width:700px;margin:0 auto;background:#fff;color:#333333;border:1px solid #d3d3d3;font-family:'Verdana','Arial';border-top-width:0;font-size:17px;line-height:1.3em;padding:20px 50px">
                <p><img src="http://beta.fateofhero.cz/images/logo.png" style="width: 125px;"></p>
                <hr>
                <h4>Dotaz z webu fateofhero.cz</h4>
                <p>Zasíláme kopii vašeho dotazu, který byl odeslaný naším tvůrcům.
                <table style="text-align: center; margin:auto;">
                    <tr><th>Email</th><td>{$email}</td></tr>
                </table>
                <br>
                <u>Samotná zpráva:</u>
                <blockquote style="font-size: 15px; margin: 20px 0;padding-left: 1.5rem;border-left: 5px solid #42A5F5;">{$zprava}</blockquote>

                <br>
                <p>Děkujeme za váš dotaz, připomínku.</p>
                <small>Jak to bude možné tak vám na email odpovíme</small>
                S pozdravem team FateofHero.cz
            </div>
            <div style="max-width:60%;width:700px;margin:0 auto;background:#f3f3f3;color:#333333;border:1px solid #d3d3d3;font-family:'Verdana','Arial';border-top-width:0;font-size:14px;line-height:1em;padding:20px 50px;text-align:center">
                <p style="display:block">
                    © 2016 - 2017, <a href="http://fateofhero.cz" style="color:#2284bb;text-decoration:none" target="_blank">fateofhero.cz</a>
                </p><div class="yj6qo"></div><div class="adL">
                </div></div><div class="adL">
            </div><div style="height:50px"></div><div class="adL">

            </div></div><div class="adL">
        </div></div></div>
</body>
</html>